.about{
  display: flex;
  margin: 20px;
  justify-content: space-around;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
}
.about-content{
  background-color: var(--color-b);
  color: white;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
  width: 60%;
  padding: 20px;
  font-size: clamp(15px, 5.5vw, 40px);
  
}
.about-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 5.5vw, 30px);
  padding: 20px;
  text-align: center;
}
.em{
  color: var(--color-a);
  border-bottom: 1px solid white;
}