.app{
  background-color: var(--colorc);
  margin: 0 5% 0 5%;
  height: max-content;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border: 3px solid var(--border-color);
}
/* greeting styling */
.greeting{
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-end;
  padding: 10px;
  gap: 10px;
}
.greeting-img{
  align-self: center;
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  margin: 2% 2% 5% 5%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.greeting-text{
  background-color: var(--colord);
  margin: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
@media screen and (max-width:700px) {
  .greeting-text{
    font-size: 12px;
  }
}
@media screen and (min-width: 701px){
  .greeting-text{
    font-size: 20px;
  }
}
/* about me styling */
.about-me{
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about-me-text{
  height: max-content;
  min-height: 100px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  background-color: var(--colord);
  border-radius: 5px;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
}
@media screen and (max-width:700px) {
  .about-me-text{
    font-size: 12px;
  }
}
@media screen and (min-width: 701px){
  .about-me-text{
    font-size: 20px;
  }
}
/* skills styling */
.skills{
  height: max-content;
  min-height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas: 
  "skilltitle learningtitle"
  "skillcontent learningcontent";
  gap: 5%;
  margin: 5%;
}
@media screen and (max-width:700px) {
  .skills{
    font-size: 15px;
  }
}
@media screen and (min-width: 701px){
  .skills{
    font-size: 20px;
  }
}
.skills-title{
  grid-area: skilltitle;
  background-color: var(--colord);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.skills-container *,
.learning-container *{
  height: 90%;
  width: 100%;
  padding: 5px;
  max-width: 100px;
}
.skills-container{
  grid-area: skillcontent;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
  background-color: var(--colord);
  padding: 5px;
  height: max-content;
  min-height: 400px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.learning-title{
  grid-area: learningtitle;
  background-color: var(--colord);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.learning-title,
.skills-title{
  padding: 10px;
  height: 75px;
}
.learning-container{
  grid-area: learningcontent;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--colord);
  padding: 5px;
  min-height: 400px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}