@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.app{
  background-color: var(--colorc);
  margin: 0 5% 0 5%;
  height: max-content;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}
/* greeting styling */
.greeting{
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 10px;
  gap: 10px;
}
.greeting-img{
  align-self: center;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 5% 5% 5% 5%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.greeting-text{
  background-color: var(--colord);
  margin: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  animation: 0.5s ease-in 0s 1 slideInFromLeft;
  font-family: 'Roboto';
  border-left: 3px solid var(--colore);
}
@media screen and (max-width:700px) {
  .greeting-text{
    font-size: 12px;
  }
}
@media screen and (min-width: 701px){
  .greeting-text{
    font-size: 18px;
  }
}
@media screen and (max-width:700px) {
  .about-me-text{
    font-size: 12px;
  }
}
@media screen and (min-width: 701px){
  .about-me-text{
    font-size: 20px;
  }
}
/* skills styling */
.skills{
  height: max-content;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 5%;
}
@media screen and (max-width:700px) {
  .skills{
    font-size: 13px;
  }
}
@media screen and (min-width: 701px){
  .skills{
    font-size: 18px;
  }
}
.skills-title{
  grid-area: skilltitle;
  background-color: var(--colord);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  max-width: 1000px;
  padding: 20px;
  height: 50px;
  min-width: 300px;
  width: 90%;
  transition: transform 1s;
  animation: 1s ease-in-out 2s 1 rotateRight;
  border-left: 3px solid var(--colore);
}
.skills-title:hover{
  cursor: pointer;
  transform: rotate(1deg);
}
@media screen and (min-width: 701px){
  .skills-container *{
    width: 50px;
  }
}

@media screen and (max-width: 700px) {
  .skills-container *{
    width: 30px;
  }
}
@media screen and (min-width: 701px){
  .skills-container *{
    width: 50px;
  }
}

@media screen and (max-width: 700px) {
  .skills-container *{
    width: 30px;
  }
}
.skills-container{
  background-color: var(--colord);
  max-width: 1000px;
  width: 90%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  min-height: 400px;
  flex-grow: 1;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border-left: 3px solid var(--colore);
}
.skills-container img{
  width: 40px;
}