.App{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.to-top-button {
  border-radius: 50%;
  height: 32px;
  position: fixed;
  width: 32px;
  right: 0;
  bottom: 0;
  color: #1d1d1f;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}

.to-top-button:hover {
  color: #6e6e73;
}
