.App{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.to-top-button {
  border-radius: 50%;
  height: 35px;
  position: fixed;
  width: 35px;
  right: 0;
  bottom: 0;
  color: rgb(0, 0, 0);
  background-color: var(--color-a);
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.to-top-button:hover {
  color: gray;
}
