.blog{
  height: max-content;
  min-height: 20vh;
  background-color: var(--colorc);
  margin: 0 5% 0 5%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  justify-items: center;
}
.blog-item{
  background-color: var(--colord);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  margin: 5px;
  width: 90%;
  border-radius: 5px;
  max-width: 250px;
}