/* .contact-buttons{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  background-color: var(--color-b);
  border-radius: 18px;
  z-index: 99;
  cursor: pointer;
  border: 2px solid var(--color-a);
  list-style: none;
  box-shadow: 0px 4px 8px #1d1d1f;
}
.contact-buttons img{
  width: 45px;
  padding: 4px;
} */

.contact-buttons {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  padding: 5px;
  width: max-content;
  background-color: var(--color-b);
  border-radius: 18px;
  z-index: 99;
  cursor: pointer;
  list-style: none;
  box-shadow: 0px 4px 8px #1d1d1f;
  align-self: center;
}
.contact-buttons img {
  width: 45px;
  padding: 4px;
}
