.contact-buttons{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 2px;
  top: 50%;
  width: 50px;
  background-color: var(--color-b);
  border-radius: 18px;
  padding: 10px;
  z-index: 99;
  cursor: pointer;
  border: 2px solid var(--color-a);
  list-style: none;
  box-shadow: 0px 4px 8px #1d1d1f;
}
.contact-buttons img{
  width: 45px;
  padding: 4px;
}