.footer{
  background-color: var(--color-b);
  height: 80vh;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  color: var(--color-b);
}
.footer-title{
  color: white;
}
.footer-text{
  color: white;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 5px solid white;
}
.arrow{
  margin-left: 35%;
  padding-top: 20px;
}
.mail{
  text-decoration: none;
  color: var(--color-a);
}