.footer{
  margin-top: 20vh;
  background-color: var(--color-b);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
}
.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 5vw, 30px);
  padding: 20px;
  color: white;
}
.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 5vw, 30px);
  padding: 20px;
  flex-direction: column;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.mail{
  text-decoration: none;
  color: white;
}
.arrow{
  width: 50%;
  max-width: 500px;
  justify-self: center;
  align-self: center;
}