.footer{
  margin-top: 20vh;
  background-color: var(--color-d);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
}
.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 5vw, 40px);
  padding: 20px;
  color: var(--color-a);
}
.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 5vw, 30px);
  padding: 20px;
  flex-direction: column;
  color: var(--color-e);
  text-align: center;
}
.mail{
  text-decoration: none;
  color: var(--color-e);
}
.arrow{
  width: 25%;
  max-width: 100px;
  justify-self: center;
  align-self: center;
  color: var(--color-e);
}