.intro-img{
  width: 35%;
  max-width: 400px;
  border-radius: 5px;
  transform: rotate(3deg);
  margin: 5px;
}
.intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.intro-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: clamp(12px, 3vw, 35px);
}