.nav{
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  z-index: 5;
}
.nav a{
  font-size: clamp(15px, 4vw, 25px);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #1d1d1f;
}