.nav{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px;
  z-index: 5;
  background-color: black;
}
.nav a{
  font-size: clamp(15px, 5vw, 30px);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}