.nav{
  background-color: var(--colorc);
  margin: 15px 5% 15px 5%;
  height: max-content;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-items: end;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: sticky;
  top: 0;
  border: 3px solid grey;
}
.nav-buttons{
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
}
.nav-buttons img{
  width: 50%;
  max-width: 20px;
}
.home-wrapper,
.projects-wrapper,
.blog-wrapper{
  background-color: var(--colord);
  display: flex;
  width: max-content;
  padding: 5px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.home-wrapper:hover,
.projects-wrapper:hover,
.blog-wrapper:hover{
  cursor: pointer;
  background-color: var(--colorb);
}
.home-wrapper div,
.projects-wrapper div,
.blog-wrapper div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
@media screen and (max-width:700px) {
  .nav-buttons *{
    font-size: 10px;
  }
}
@media screen and (min-width: 701px){
  .nav-buttons *{
    font-size: 15px;
  }
}
.nav-title{
  background-color: var(--colord);
  margin: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  align-self: center;
  max-height: 50px;
}
.nav-title:hover{
  cursor: pointer;
  transform: rotate(5deg);
}
@media screen and (max-width:700px) {
  .nav-title{
    font-size: 15px;
  }
}
@media screen and (min-width: 701px){
  .nav-title{
    font-size: 20px;
  }
}