.nav{
  background-color: var(--color-a);
  top: 0;
  position: sticky;
  color: var(--color-b);
  height: 8vh;
  padding-right: 15px;
  z-index: 20;
}
.nav-buttons{
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
  padding: 5px;
  font-size: 20px;
}