.projects{
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
}
.projects-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 5.5vw, 30px);
  padding: 30px;
}
.projects-slideshow{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 8vh;
  justify-items: center;
  width: 100%;
}
.projects-slideshow li{
  height: 100%;
  min-height: 65vh;
  border-radius: 18px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.projects-slideshow li:last-child{
  background-position: center;
}

.slide-name{
  background-color: var(--color-b); 
  color: white;
  padding: 10px;
  border-radius: 18px;
  width: max-content;
  margin: 3px;
  font-size: clamp(12px, 5vw, 22px);
}
.slide-link{
  background-color: var(--color-b); 
  color: white;
  padding: 10px;
  width: max-content;
  border-radius: 18px;
  margin: 3px;
  font-size: clamp(12px, 4.5vw, 22px);
}
.view-more{
  align-self: center;
  margin: 15px;
  background-color: var(--color-b);
  color: white;
  border: 0;
  border-radius: 18px;
  padding: 15px;
  font-size: clamp(12px, 5vw, 25px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.view-more:hover{
  background-color: rgb(80, 80, 80);
  cursor: pointer;
}