.skills-container li img{
  min-width: 50px;
  height: 50px;
}
.skills{
  margin: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.skills-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 5.5vw, 30px);
  padding: 10px;
}
.skills-container li{
  background-color: var(--color-b);
  list-style: none;
  width: max-content;
  min-width: 100px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: clamp(15px, 3vw, 26px);
}
.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}