.intro{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.intro-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
  gap: 10px;
}
.intro-heading-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro h1,
.intro h3{
  color: var(--color-e);
  font-size: 20px;
}
.intro img{
  max-width: 400px;
  width: 90%;
  justify-self: end;
  margin: 10px;
  border-radius: 18px;
}