@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Playfair Display','Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* font imports */

/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--colore);
}
::-webkit-scrollbar-thumb {
  background: var(--colorc);
}
::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --colora: slategray;
  --colorb: slategray;
  --colorc: #EAE7E2;
  --colord: snow;
  --colore: #0c2543;
  --colorf: yellow;
  --border-color: black;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: var(--colore)
}
@keyframes jump{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-40%);
  }
  100%{
    transform: translateY(0);
  }
}
.to-top-button{
  right: 5px;
  bottom: 5px;
  height: 30px;
  width: 30px;
  position: fixed;
  border-radius: 50%;
  cursor: pointer;
  color:var(--colord);
  background-color: black;
  transition: color 1s, transform 1s;
  animation: 1s ease-in 0s 3 jump;
}
.to-top-button:hover{
  color: var(--colora);
  transform: translateY(-20%);
}